button:hover{
    background-color: #4CAF50;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)

}

button, a{
    cursor:pointer;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    text-align:center;
}

.logo{
    width:186px;
    height:20px;
}


.green{
    display:flex;
    justify-content:flex-start;
}

.bean{
    display:flex;
    justify-content:flex-end;
}


.howSize1{
    width:353px;
    height:163px;
    
}

.howSize2{
    width:200px;
    height:161px;
}

.howM{
    width:777px;
    height:99px;
    
}


.max{
    max-width:1113px;
    width:100%;
    display:flex;
    gap:20px;
    
}

.max--rev{
    max-width:1113px;
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.max--wrap{
    max-width:1113px;
    width:100%;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}