
@use 'fonts';
@use 'details';


body{
    width:100vw;
    height:100vh;
}


.header{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    background-image: url("../images/bluemnt.png");
    background-size:cover;
    background-position: center;



    &__content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100vw;
        height:100vh;
    }


    &__text{
        max-width:372px;
        width:100%;
        min-height:76px;
        color:white;
        text-align:center;
        
        &__h1{
            font-size:48px;
            @include fonts.josefin-bold;
            line-height:26px;
            letter-spacing:4.8px;
        }

        &__h4{
            font-size:22px;
            @include fonts.josefin-normal;
            letter-spacing:6.82px;
            line-height:26px;
        }
    }

    &__form{
        max-width:653px;
        width:100%;
        min-height:63px;
        display:flex;
        margin-bottom:50px;
    }

    &__input{
        max-width:503px;
        width:100%;
        min-height:63px;
        border:none;
        outline:none;
    }
    &__button{
        max-width:153px;
        width:100%;
        min-height:63px;
        color:white;
        background-color:#5474FD;
        border:none;
        transition-duration: 0.5s; /*hover effects transition duration*/

    }

    &__a{
        color:white;
        @include fonts.josefin-normal;
        text-align:center;
        margin-top:50px;
    }
}

.nav{
    min-height:83px;
    background-color:blue;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    

    &__content{
        display:flex;
        align-items:center;
        max-width:1113px;
        width:100%;
        justify-content:space-between;
        flex-wrap:wrap;
        padding-left:20px;
        padding-right:20px;
    }
   
}

ul{
    list-style-type: none;
    display:flex;
    gap:21px;
    color:white;
    line-height:26px;
    @include fonts.aleo-normal;

    /*To make logo and list align when wrapping during shrinking viewport */
    position:relative;
    right:23px;
}


.why{
    height:685px;
    display:flex;
    justify-content: center;
    color:white;
    background-image: url("../images/castle.png");
    background-size:cover;
    background-position: center;

    &__content{
        max-width:1113px;
        width:100%;
        display:grid;
        grid-template-columns: 560px 1fr;
    }

    &__h2{
        @include fonts.aleo-normal;
        font-size:36px;
        line-height:26px;
    }

    &__p{
        @include fonts.josefin-normal;
        font-size:16px;
        line-height:26px;
        letter-spacing:1.6px;
        
    }

    &__button{
        background-color: #5474FD;
        width:228px;
        height:63px;
        color:white;
        border:none;
    }

}


.how{
    height:340px;
    background-color:#333333;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: url("../images/connect.png");
    background-repeat: no-repeat;
    background-position-x: left 640px;
    

    &__images{
        display:flex;
        justify-content: space-between;
        max-width:1113px;
        width:100%;
    }

}

.section{
    height:1400px;
    background-color: aqua;
    &__group1{
        height:700px;
        background-color: yellow;
        background-image: url("../images/house.png");
        background-size:cover;
        background-position: center;

        display:flex;
        justify-content: center;
        align-items: center;
    }

    &__group2{
        height:700px;
        background-color:  purple;
        background-image: url("../images/water.png");
        background-size:cover;
        background-position: center;

        display:flex;
        justify-content: center;
        align-items: center;

    }


}

.card{
    height:374px;
    background-color: #5474FD;
    max-width:543px;
    width:100%;
    padding-left:32px;

    &__h4{
        color:white;
        @include fonts.josefin-normal;
        line-height: 26px;
        letter-spacing: 1.5px;
    }
    &__h3{
        color:white;
        @include fonts.josefin-normal;
        line-height: 26px;
    }
    &__p{
        color:white;
        @include fonts.josefin-normal;
        line-height: 26px;
    }
    &__button{
        background-color: #496BFE;
        color:white;
        width:228px;
        height: 63px;
        border:none;
    }
}


.testimonial{
    padding-top:50px;
    background-color: #496BFE;
    height:731px;
    background-image: url("../images/guy.png");
    background-size:cover;
    background-position: center;
    display:flex;
    
    align-items: center;
    color:white;
    flex-direction: column;

    &__card{
        /*THe three first properties FIXED THE PROBLEM, and allowed me to keep h2 at the top while keeping the card in the middle */
        display:flex;
        height:100%;
        align-items: center; 

        gap:20px;
    }


    &__h2{
        line-height: 26px;
        font-size: 36px;
        @include fonts.aleo-normal;
        margin-top: 50px;
    }
    &__h4{
        line-height: 26px;
        font-size: 20px;
        @include fonts.josefin-normal;
    }
    &__p{
        @include fonts.josefin-normal;
        line-height: 26px;
    }


    
}

.footer{
    background-color: #232323;
    height: 271px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color:white;

    &__img{
        position: relative; 
        right: 15px;
    }
}



