
@use 'fonts';

body{
    width:100vw;
    height:100vh;
}


.header{
    width:100vw;
    height:100vh;
    display:flex;
    background-image: url("../images/bluemnt.png");
    background-size:cover;
    background-position: center;
    justify-content:center;
    align-items:center;


    &__text{
        width:372px;
        height:76px;
        color:white;
        text-align:center;

        &__h1{
            font-size:48px;
            @include fonts.josefin-bold;
            line-height:26px;
            letter-spacing:4.8px;
        }

        &__h4{
            font-size:22px;
            @include fonts.josefin-normal;
            letter-spacing:6.82px;
            line-height:26px;
        }
    }


}

