
@use 'fonts';

body{
    width:100vw;
    height:100vh;
}


.header{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
    
    background-image: url("../images/bluemnt.png");
    background-size:cover;
    background-position: center;


    /*
    When using display:grid on the header, i wasn't able to change the width of nav to 100vw without header__content also changing to 100vw. I found a solution: I replaced justify-content: center; with justify-items: center;
    I changed back to display:flex + flex-direction:column because it's response when shrinking the viewport, unlike grid but no i can't move the nav to the bottom of the viewport and putting it inside header__content to use space between won't work either because the rest of the elements will gain 100vw width
     
    */
    

    &__content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        
    }


    &__text{
        min-width:372px;
        width:100%;
        min-height:76px; /*makes massive difference, if you comment it out, you will notice that it overlaps with the input element */
        color:white;
        text-align:center;

        &__h1{
            font-size:48px;
            @include fonts.josefin-bold;
            line-height:26px;
            letter-spacing:4.8px;
        }

        &__h4{
            font-size:22px;
            @include fonts.josefin-normal;
            letter-spacing:6.82px;
            line-height:26px;
        }
    }

    &__form{
        min-width:653px;
        width:100%;
        min-height:63px;
        display:flex;
    }

    &__input{
        min-width:503px;
        width:100%;
        min-height:63px;
        border:none;
        outline:none;
    }



    &__button{
        min-width:153px;
        width:100%;
        min-height:63px;
        color:white;
        background-color:#5474FD;
        border:none;
        transition-duration: 0.5s; /*hover effects transition duration*/

    }




}

button:hover{
    background-color: #4CAF50;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)

}

button{
    cursor:pointer;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    text-align:center;
}

nav{
    
    min-height:83px;
    background-color:blue;
    width:100vw;
    
}